* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0B2434;
  font-family: karla;
  overflow-x: hidden;
}

.App {
  background-color: #F5F5F5;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-inline: auto;
  margin-top: 5rem;
  width: 50%;
  border-radius: 5px;
}

.App .dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  width: 90%;
}

.die-container {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  /* padding: 7px 15px; */
  padding-block: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.81px;
  cursor: pointer;
}

.die-container .dice {
  font-size: 21px;
  font-family: karla;
}

.App .btn {
  margin: 1.5rem;
  background-color: #5035FF;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}

.App .info {
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: -3%;
  position: relative;
}

.App .info .roleNumber {
  position: absolute;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  top: 5%;
  left: 5%;
  border: 1px solid #0B2434;
  color: #0B2434;
  border-radius: 50%;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.App .info p {
  color: #4A4E74;
  padding: 1rem 2rem;
}